<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
    >
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="rateoay">
            <directory>./src/PHPCommerce/Vendor/RatePAY/Service/Payment/Tests</directory>
            <directory>./src/PHPCommerce/Vendor/RatePAY/Service/KnownCustomers/Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="PAYMENT_HISTORY_UPLOAD_HOSTNAME" value="files.ratepay.com"/>
        <const name="PAYMENT_HISTORY_UPLOAD_PORT" value="42139"/>
        <const name="PAYMENT_HISTORY_UPLOAD_REMOTE_DIR" value="to_ratepay/known_customers"/>
        <const name="PAYMENT_HISTORY_UPLOAD_USERNAME" value=""/>
        <const name="PAYMENT_HISTORY_UPLOAD_PUB_KEY_FILE" value=""/>
        <const name="PAYMENT_HISTORY_UPLOAD_PRIV_KEY_FILE" value=""/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>

    </php>
</phpunit>